pymongo
configparser
python-kis
environ
prettytable
python-dotenv
flask
flask_cors
flask-restful

# machine-learning model
finance-datareader
numpy
pandas
scikit-learn
tensorflow<=2.15
keras<2.16
plotly